<h1>Kindle Clippings Processing</h1>

<% form_for :kindle_file, :html => {:multipart => true} do |kindle_file| %>
    <%= kindle_file.file_field :text %>
    <%= submit_tag "Upload" %>
<% end %>








