<h1>Kindle Clippings Processing</h1>

<h1>Kindle Clippings Upload</h1>
<h1>File Upload</h1>
<%= form_tag({:action => 'upload'}, :multipart => true) %>
<p><label for="upload_file">Select File</label> :
  <%= file_field 'upload', 'datafile' %></p>
<%= submit_tag "Upload" %>
<%= form_tag %>



