<h1>New kindle_file</h1>
<table>
  <tr>
    <th>Contents</th>

  </tr>
  <% @kindle_files.each do |kindle_file| %>
      <tr>
        <td><%= kindle_file %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Back', kindle_files_path %>
