<h1>Kindle</h1>
<p>It's all about <a href="https://kindle.amazon.com/profile/Sally/666378">Voltaire</a> for example :)</p>


<h3>Ideally, we should get something like this:</h3>


<%= image_tag("/images/book_mindmap.png") %>

<h3>In fact, we just got plain tables.</h3>

